@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans');

:root {
    --amy-black: #2D2D2D;
    --amy-white: #ffffff;
    --amy-purple: #9C9CF8;
    --amy-purple-light: rgba(156,156,248,0.1);
    --amy-primary: #945ED1;
    --amy-pink: #F8217F;
    --amy-gray1: #6C6C6C;
    --amy-gray2: #535353;
    --amy-gray3: #4B4B4B;
    --amy-gray4: rgb(34, 34, 34);
}