.amylogo {
  fill: var(--amy-purple);
  width: 70%;
}

.list-group-item {
  border: none !important;
}

.profile i:hover {
  font-weight: bold;
}

.profilepic {
  border: 2px solid var(--amy-purple);
  border-radius: 50%;
  width: 60%;
  padding-top: 60%;
  margin: 2rem auto;
}

.contactLogo {
  height: 100px;
  transition: opacity 0.3s;
}

.contactLogo:hover {
  opacity: 0.7;
}

#footer{
  padding: 1rem;
}

#contact b {
  word-wrap: break-word;
  /* IE 5.5-7 */
  white-space: -moz-pre-wrap;
  /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
}


#max {
  background-image: url('../img/team/max.jpg');
  background-size: cover;
  background-position-x: 60%;
}

#liam {
  background-image: url('../img/team/liam.jpg');
  background-size: cover;
  background-position-x: 60%;
}

#matthias {
  background-image: url('../img/team/matthias.jpg');
  background-size: cover;
  background-position-y: 60%;
}

#dude4 {
  background-image: url('../img/team/ivan.jpg');
  background-size: cover;
  background-position-x: 60%;
}

body,
html {
  width: 100%;
  height: 100%;
  color: var(--amy-gray4);
  scroll-behavior: smooth;
}

::selection {
  color: rgba(156,156,248,1) !important;
  background: rgba(156,156,248,0.1) !important;
}
::-moz-selection {
  color: rgba(156,156,248,1) !important;
  background: rgba(156,156,248,0.1) !important;
}

body {
  font-family: 'Open Sans', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: var(--amy-purple);
}

hr.light {
  border-color: #fff;
}

a {
  color: var(--amy-purple);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: var(--amy-purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fredoka One', 'cursive';
}

.bg-primary {
  background-color: var(--amy-purple) !important;
}

.bg-dark {
  background-color: var(--amy-black) !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

.text-white{
  color: #fff!important;
}

::-moz-selection {
  color: #fff;
  background: var(--amy-grey3);
  text-shadow: none;
}

::selection {
  color: #fff;
  background: var(--amy-grey3);
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--amy-purple) !important;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand img {
  height: 2rem;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: var(--amy-purple);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--amy-grey3);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
  color: var(--amy-purple);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
  color: var(--amy-purple) !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: 0.5rem 1rem;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: var(--amy-gray1);
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: var(--amy-purple);
  }

  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: var(--amy-purple);
  }

  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: var(--amy-purple);
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: var(--amy-grey3);
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: var(--amy-purple);
  }
}

#header {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.svg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

#header hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

#header h1 {
  font-size: 2rem;
}

#header p {
  font-weight: 300;
}

@media (min-width: 768px) {
  #header p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  #header {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }

  #header h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  #header h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }

  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: var(--amy-purple) !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: var(--amy-purple);
  border-color: var(--amy-purple);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: var(--amy-primary) !important;
}

.btn-primary:active,
.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
